body {
    border: 1px black dashed;
    width: 512px;
}
body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    border-bottom: 2px solid black;
    padding: 20px;
}
main {
    width: 450px;
    margin: 20px auto;
}
.card {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: white;
}
.card h2 {
    margin-top: 0;
    font-size: 24px;
}
footer {
    border-top: 2px solid black;
    padding: 10px 20px;
    font-size: 14px;
}

